MONGO_URI=mongodb+srv://michelbeaini2_db_user:AJpdKUo1PBoctjeH@cluster0.jxmdcmc.mongodb.net/?appName=Cluster0
JWT_SECRET=k9#mXpQ2$vLnR7@wZtYu8*dFhCjA4!sBqN6^eKgP3&mWxViT5iDlUy
SESSION_SECRET=H2$nBpW8@rLqX4!mZtVuY6*kFsC9^dAeG3&jNaP7#vKoT5iDlUyQxR
PORT=3050
